# Archivos y carpetas de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Carpetas de compilación (se generan automáticamente)
[Bb]in/
[Oo]bj/

# Archivos de respaldo de Visual Studio
*~.nupkg
*.swp
*.swo

# Archivos de registro y caché
*.log
[Nn]u[Ss]pec/
_ReSharper*/
*.DotSettings.user

# Si usas también VS Code en el futuro
.vscode/